.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    padding: 0 1em;

    background-color: var(--main-black-color);
    color: var(--main-white-color);
}

.header .content {
    max-width: 90vw;
}

.header section {
    margin: 3em 0;
}

.header nav {
    display: flex;
    flex-flow: row;
    justify-content: left;
    margin: 1em;
}

.header nav a {
    color: var(--main-white-color);
    text-decoration: underline;
}

.header nav a:visited {
    color: var(--main-offwhite-color);
}

.header nav a:hover {
    color: var(--main-green-color);
}